<div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hola a todos!</h1>
      <p>This is a MEAN stack blog application. It includes... Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <div class="buttons" *ngIf="!loggedIn()">
        <a class="btn bg-dark text-white btn-lg" routerLink="/register" role="button">Register</a>
        <a class="btn btn-success btn-lg" routerLink="/login" role="button">Log in &raquo;</a>
      </div>
      <div class="buttons" *ngIf="loggedIn()">
        <a class="btn bg-dark text-white btn-lg" routerLink="/blog" role="button">Blog</a>
      </div>
    </div>
  </div>