::ng-deep .flash-message {
    text-align: center;
}

.post {
    height: 31px;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    padding: .2rem .5rem .2rem .5rem;
}

.refresh, .liked, .disliked {
    height: 31px;
    width: 35px;
    padding: .25rem .2rem;
}

.material-icons {
    font-size: 22px;
}

h4 {
    margin-bottom: 0;
}

.card {
    margin: 10px 0;
}

.card-title {
    margin-bottom: 0.25rem;
}

//////////////////////////
/* Post Comments Button */
//////////////////////////

.list-group-item {
    text-align: right;
    padding: .5rem;
}

/////////////////////
/* Dropdown Button */
/////////////////////
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/////////////////////
/* New Post Alerts */
/////////////////////

.help-block {
    color: red;
    font-style: italic;
    list-style-type: none;
}

/////////////////////
/* New Post Form   */
/////////////////////

h2 {
    padding-top: 2rem;
    text-align: right;
}

label {
    margin-left: .5rem;
    margin-bottom: .2rem;

}

.form-control {
    background-color: whitesmoke;
    border: 2px dashed darkgrey;
}
