h2 {
  padding-top: 2rem;
  text-align: center;
}

.field-label {
      padding-top: .5rem;
      text-align: right;
    }

.error {
  padding-top: .5rem;
  color: red;
  font-style: italic;
}

.success {
  padding-top: .5rem;
  color: green;
  font-style: italic;
}
  
.alert {
  width: 100%;
  text-align: center;
}